<div class="owl-carousel owl-theme">
    <div class="slide"><img src="images/imgHomeSlider.jpg" alt=""></div>
    <div class="slide"><img src="images/imgHomeSlider.jpg" alt=""></div>
    <div class="slide"><img src="images/imgHomeSlider.jpg" alt=""></div>
</div> 

