<!-- HOME HEADER INTRO -->
<section class="header-intro">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 match-me">
                <h2 class="callout">Vintage Car Show 2017</h2>
                <p class="callout tight">International Vintage Car Association</p>
                <p>Attendees: 5,000</p>
                <ul class="small-list list-unstyled">
                    <li>In Date: 21 July, 2017</li>
                    <li>Start Date: 22 July, 2017</li>
                    <li>End Date: 6 August, 2017</li>
                    <li>Out Date: 7 August, 2017</li>
                </ul>
                <h2 class="callout bottom-sep">Proposal</h2>
                <div class="polar-split">
                    <div class="pole">
                        <p class="tight highlight">Proposal Name</p>
                        <p class="tight">Version 3</p>
                        <p class="tight">Last Updated 6.12.2016</p>
                    </div>
                    <div class="pole">
                        <a href="#" class="download highlight-alt">Download</a>
                    </div>
                </div>
                <!-- /.polar-split -->
            </div>
            <!-- /.col-sm-3 -->
            <div class="col-sm-9">
                <div class="slider match-me">
                    <div class="owl-carousel owl-theme">
                        <div class="slide"><img src="images/imgHomeSlider.jpg" alt=""></div>
                        <div class="slide"><img src="images/imgHomeSlider.jpg" alt=""></div>
                        <div class="slide"><img src="images/imgHomeSlider.jpg" alt=""></div>
                    </div>
                    <!-- /.owl-carousel -->
                </div>
                <!-- /.slider -->
            </div>
            <!-- /.col-sm-9 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- END HOME HEADER INTRO -->
<div class="container">
    <div class="row">
        <div class="col-sm-9">
            <section class="content">
                <div class="article-list">
                    <h2>MCEC Innovations</h2>
                    <div class="article row">
                        <div class="col-sm-3">
                            <img src="images/imgInnovations1Default.jpg" alt="">
                        </div>
                        <div class="col-sm-9">
                            <h3><strong>Article Name</strong></h3>
                            <p>Quisque velit nisi, pretium ut lacinia in, elementum id enim. Nulla porttitor accumsan tincidunt. Pellentesque nec, egestas non nisi. Proin eget tortor risus. Quisque velit nisi, pretium. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Proin eget tortor risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Nulla porttitor accumsan tincidunt. Pellentesque nec, egestas non nisi. Proin eget tortor risus. Quisque velit nisi, pretium. Lorem ipsum dolor sit elit. Praesent sapien massa convallis a pellentesque nec, egestas non nisi. Proin eget tortor risus.</p>
                        </div>
                    </div>
                    <!-- /.article -->
                    <div class="article row">
                        <div class="col-sm-3">
                            <img src="images/imgInnovations2.jpg" alt="">
                        </div>
                        <div class="col-sm-9">
                            <h3><strong>Article Name</strong></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sapien massa convallis a pellentesque nec, egestas non nisi. Proin eget tortor risus. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Nulla porttitor accumsan tincidunt. </p>
                        </div>
                    </div>
                    <!-- /.article -->
                </div>
                <!-- /.article-list -->
                <div class="thumbnail-list">
                    <h2>Videos</h2>
                    <div class="row">
                        <div class="col-sm-4">
                            <a class="video fancybox-media" href="https://www.youtube.com/watch?v=uZ9t9TVQHnc"><img src="images/imgVideo1.jpg" alt=""></a>
                            <h3>Video Headline</h3>
                            <p>Vivamus magna justo, lacinia eget consectetur sed. Convallis a non nisi pellentesque, nec, egestas proin.</p>
                        </div>
                        <div class="col-sm-4">
                            <a class="video" href="#"><img src="images/imgVideo2.jpg" alt=""></a>
                            <h3>Video Headline</h3>
                            <p>Vivamus magna justo, lacinia eget consectetur sed. Convallis a non nisi pellentesque, nec, egestas proin.</p>
                        </div>
                        <div class="col-sm-4">
                            <a class="video" href="#"><img src="images/imgVideo3.jpg" alt=""></a>
                            <h3>Video Headline</h3>
                            <p>Vivamus magna justo, lacinia eget consectetur sed. Convallis a non nisi pellentesque, nec, egestas proin.</p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- /.content -->
        </div>
        <div class="col-sm-3">
            <aside class="sidebar">
                <section class="documents">
                    <h2>MCEC Documents</h2>
                    <div class="document">
                        <h3>Document Name</h3>
                        <p>Vivamus magna justo, lacinia eget consectetur sed. Convallis a non nisi pellentesque, nec, egestas proin.</p>
                        <a href="#" class="highlight-alt download-alt">Download</a>
                    </div>
                    <!-- /.document -->
                    <div class="document">
                        <h3>Document Name</h3>
                        <p>Vivamus magna justo, lacinia eget consectetur sed. Convallis a non nisi pellentesque, nec, egestas proin.</p>
                        <a href="#" class="highlight-alt download-alt">Download</a>
                    </div>
                    <!-- /.document -->
                </section>
                <!-- /.documents -->
                <section class="testimonials">
                    <h2>Client Testimonial</h2>
                    <div class="testimonial">
                        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum."</p>
                        <footer>
                            <cite>
                                <p class="tight"><strong>- John Johnson</strong></p>
                                <p class="tight lighten">Ungerboeck Software</p>
                            </cite>
                        </footer>
                    </div>
                    <!-- /.testimonial -->
                </section>
                <!-- /.testimonials -->
            </aside>
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->

